[submodule "dependencies/matlab-json"]
	path = dependencies/matlab-json
	url = git://github.com/kyamagu/matlab-json.git
	ignore = dirty
[submodule "dependencies/matlab-daemon"]
	path = dependencies/matlab-daemon
	url = git@github.com:qdev-dk/matlab-daemon.git
	ignore = dirty
[submodule "dependencies/zmqmat"]
	path = dependencies/zmqmat
	url = git@github.com:qdev-dk/zmqmat.git
	ignore = dirty
